<template name="about">
	<!-- <a href="/suggestion">Suggestion</a> -->
	<div id="pagewrap">
		<!-- <div id="cover_photo">
			<img src="Cloudsurfing_COLOR.png"/>
		</div> -->
		<div class="container">
			<div class="row">
				<div class="col-md--12">
					<div id="page_title">
						ABOUT
					</div>
				</div>
			</div>
						<div class="row">
				<div class="col-md--12">
					<div id="page_content">
            <div id="page_content_title">
              Cloudsurfing
            </div>
            Born sometime in the early fall of 2014, Cloudsurfing started as a bedroom trio and quickly grew to the 5 piece machine that it is today. Cloudsurfing is a musical fusion of rock, funk, jazz, blues, and more, all culminating into a genre we like to call “indie”. Funky bass lines, syncopated rhythms, epic guitar solos, catchy melodies- with Cloudsurfing you get it all.
            <br>
            <br>
						<div id="page_content_title">
							Winter Martin (lead singer)
						</div>
						Winter hails from Southern California. As a singer from the age of 5, singing is one of her life long passions. Winter is always ready to jam as long as the band is ready to “play her a melody”. Nobody would ever guess it, but Cloudsurfing is Winter’s first official band. Outside of Cloudsurfing, Winter is also an avid painter and writer, currently working on a fiction novel.
            <br>
            <br>
						<div id="page_content_title">
							Abhinav Rai (bassist, backup vocals)
						</div>
						Abhinav, a resident of New Delhi, India began with the guitar and has recently taken to singing. He comes to us from his previous band- the New Delhi based “Green Light Project”. He’s also an avid graphic designer, having designed many logos and websites including our own http://www.cloudsurfingmusic.com/.
            <br>
            <br>
						<div id="page_content_title">
							Varun Tolani (guitarist)
						</div>
						Varun, a Bay Area local, started music with the violin in elementary school, taking a hiatus till high school, when he picked up the guitar. He also plays guitar at UC Berkeley in the UC Jazz.
            <br>
            <br>
            <div id="page_content_title">
              Kush Berry (guitarist)
            </div>
            Kush also joins Cloudsurfing from India. He first picked up the classical guitar many years ago, which helped form his unique fusion style.
            <br>
            <br>
            <div id="page_content_title">
              Leo Brosollet (drummer)
            </div>
            Leo, a Southern California native, is Cloudsurfing's newest member. Also a member of UC Jazz, he's always ready to play and sing along to some funk jams. Outside of Cloudsurfing you can find him supporting the Golden Bears on Game Days at his fraternity, Phi Gamma Delta.


					</div>
				</div>
			</div>
		</div>

	</div>
</template>
