<template name="music">
	<!-- <a href="/suggestion">Suggestion</a> -->
	<div id="pagewrap">
		<!-- <div id="cover_photo">
			<img src="Cloudsurfing_COLOR.png"/>
		</div> -->
		<div class="container">
			<div class="row">
				<div class="col-md--12">
					<div id="page_title">
						MUSIC
					</div>
				</div>
			</div>
						<div class="row">
				<div class="col-md--12">
					<div id="page_content">
						<iframe src="https://embed.spotify.com/?uri=spotify%3Aartist%3A7bZY3Z73ZT5do7x90AEEvd" width="350" height="380" frameborder="0" allowtransparency="true"></iframe>
						<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A6w6l0PaTzqa7agBoQy3uuY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

					</div>
				</div>
			</div>
		</div>

	</div> 
</template>