<template name="music">
	<!-- <a href="/suggestion">Suggestion</a> -->
	<div id="pagewrap">
		<!-- <div id="cover_photo">
			<img src="Cloudsurfing_COLOR.png"/>
		</div> -->
		<div class="container">
			<div class="row">
				<div class="col-md--12">
					<div id="page_title">
						MUSIC
            <div id="player">
            <ul class="list-inline center-block">
              <audio id="current_track" src="spies.mp3"></audio>
              <i class="fa fa-backward" id="previous_song"></i>
              <i class="fa fa-play" id="play_pause"></i>
              <i class="fa fa-forward" id="next_song"></i>
            </ul>
          </div>
					</div>
				</div>
			</div>
						<div class="row">
				<div class="col-md--12">
					<div id="page_content">

					</div>
				</div>
			</div>
		</div>

	</div>
</template>
